.ababilithub .template.page .layout.ebook .header .component.book-info .title{ 
    grid-area: title; 
}

.ababilithub .template.page .layout.ebook .header .component.book-info .title{ 
    text-align: center;
    text-transform: uppercase; 
}
